<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<title>Vocabulary Notebook</title>
</head>

<body>

	<form action="/search" class = 'form'>
	  <label for="fname">Which word you want to learn today?</label><br>
	  <input type="text" id="word" name="fname" value="Fantastic"><br>
	   <input type="submit" value="Search">
	</form>

	<div class="profile">My Profile</div>
	<div class="collection">My Collection</div>
	<div class="group">My Group</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/test.js"></script>
</body>
</html>
