<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/record.css" rel="stylesheet">
</head>

<body>
    <div class="backProfile" id='RPH'>
		<i class="gg-close-o"></i>
	</div>

    <div class="content">
		<h2>Words collected</h2>
		<p>Jan.</p>
		<div class="container">
		  <div class="month jan">20</div>
		</div>

		<p>Feb.</p>
		<div class="container">
		  <div class="month feb">70</div>
		</div>

		<p>Mar.</p>
		<div class="container">
		  <div class="month mar">50</div>
		</div>

		<p>Apr.</p>
		<div class="container">
		  <div class="month apr">40</div>
		</div>
	</div>

    <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/test.js"></script>
</body>
</html>
