<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/search.css" rel="stylesheet">
</head>

<body>
	<div class='close'><i class="gg-close-o"></i></div>
	
	<form action = '/search' class = 'search'>
			<input type="text" id="word" name='word' placeholder="Type in the word you want to search"><br>
	</form>

	<div>
		<div class='displayText'>{{word}}</div>
	</div>

	<button class='addCol'>
		Add to my collection
	</button>

	<div class='content'>
		<div class='explanation'></div>
	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/test.js"></script>
	<script>
		function getUrlParam(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			var r = window.location.search.slice(1).match(reg);
			if (r != null) return unescape(r[2]); return null;
		}
		var word = getUrlParam('word');
		const settings = {
			"async": true,
			"crossDomain": true,
			"url": "https://twinword-word-graph-dictionary.p.rapidapi.com/definition/?entry="+word,
			"method": "GET",
			"headers": {
				"x-rapidapi-key": "1db4c8f7e1msh630a5ef79301c90p19a55bjsn4e6d426ef3c4",
				"x-rapidapi-host": "twinword-word-graph-dictionary.p.rapidapi.com"
			}
		};

		console.log(word);
			
		$.ajax(settings).done(function(response) {
			console.log(response);
			var htmlDetail =
    		'<p>' + response.meaning['noun'] + '</p>' +
			'<p>' + response.meaning['adjective'] + '</p>' +
			'<p>' + response.meaning['adverb'] + '</p>' +
			'<p>' + response.meaning['verb'] + '</p>';
			$('.explanation').html(htmlDetail);
		});
	</script>
</body>
</html>