.words{
    position: relative;
    max-width: 80%;
    height: 10%;
    left: 10%;

    background: #929292;
    border-radius: 20px;
}

.word{
    position: relative;
    max-width: 70%;
    top: 20%;
    left: 20%;
    font-size: 150%;
}

.selects{
    position: relative;
    max-width: 80%;
    height: 25%;
    top: 5%;
    left: 10%;

    background: #98e7cd;
    border-radius: 20px;
}

.select{
    position: relative;
    max-width: 100%;
    height: 70%;
    font-size: 150%;
    

    background: #98D7C2;
    border-radius: 20px;
}

.names{
    position: absolute;
    max-width: 70%;
    top: 5%;
    left: 5%;
    font-size: 150%;
}

.wordNum{
    position: absolute;
    max-width: 70%;
    top: 70%;
    right: 5%;
    font-size: 100%;
}

.colContainer{
    position: absolute;
    width: 90%;
    height: 50%;
    left: 5%;
    top: 20%;

    background: #ddffe7;
    border-radius: 5px solid black;
    box-sizing: border-box;
}

body{
    background-color: #ddffe7;
}

p{
    color: white;
}

h4{
    color: white;
}