.collection {
    color: white;
    position: absolute;
    top: 45%;
    right: 10%;
    width: 35%;
    height: 15%;
    padding: 50px;

    margin: auto;
    font-size: 100%;
    background: #898989;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;

}

.profile {
    color: white;
    position: absolute;
    top: 45%;
    left: 10%;
    width: 35%;
    height: 15%;
    padding: 50px;

    margin: auto;
    font-size: 100%;
    background: #898989;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;

}

.group {
    color: white;
    position: absolute;
    top: 65%;
    left: 32%;
    width: 36%;
    height: 15%;
    padding: 50px;

    margin: auto;
    font-size: 100%;
    background: #898989;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;

}

.text {
    position: absolute;
    width: 80%;
    top: 40%;
    left: 10%;
    background: #898989;
}

.form{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 10%;
    font-size: 120%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    left: 100%;
    width: 100%;
    background-color: #898989;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: #484848;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.profile:hover{
    background-color: #484848;
}

.collection:hover{
    background-color: #484848;
}

.group:hover{
    background-color: #484848;
}
