
.content {
    position: fixed;
    top: 20%;
    left: 20%;
}

body{
    background-color: #ddffe7;
}

.backProfile{
    position: absolute;
    width: 3%;
    height: 3%;
    left: 2%;
    top: 1%;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    top: 40%;
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.month {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.jan {width: 20%; background-color: #29A0B1;} /* Green */
.feb {width: 70%; background-color: #29A0B1;} /* Blue */
.mar {width: 50%; background-color: #29A0B1;} /* Red */
.apr {width: 40%; background-color: #29A0B1;} /* Dark Grey */
