.search{
    position: absolute;
    width: 74%;
    height: 5%;
    left: 13%;
    top: 8%;

    background: #FFFFFF;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    left: 15%;
    width: 100%;
    height: 50%;
    background-color: #898989;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: #484848;
}

.searchText{
    /* Search a word */

    position: absolute;
    width: 50%;
    height: 37px;
    left: 5%;
    top: 5%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 28px;

    color: #000000;
}
.displayText{
    /* Search a word */
    position: absolute;
    text-align:center;
    top: 23%;
    left: 10%;
    width: 80%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 300%;
    line-height: 28px;

    color: #000000;
}
.searchedTimes{
    /* you have searhced it for 30 times! */
    position: absolute;
    
    top: 28%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 70%;
    line-height: 16px;

    color: #000000;
}
.content{
    /* Rectangle 19 */
    position: absolute;
    width: 80%;
    height: 50%;
    left: 10%;
    top: 45%;

    background: #FFFFFF;
    border: 5px solid #848383;
    box-sizing: border-box;
}
.explanation{
    position: absolute;
    width: 80%;
    height: 208px;
    left: 10%;
    top: 1%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 100%;

    color: #000000;
}
.addCol{
    position: absolute;
    width: 50%;
    height: 5%;
    left: 25%;
    top: 37%;

    background: #C4C4C4;
    border-radius: 20px;
    font-size: 100%;
}
.gg-close-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 40px
}
.gg-close-o::after,
.gg-close-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 3px
}
.gg-close-o::after {
    transform: rotate(-45deg)
}
.back{
    position: absolute;
    width: 3%;
    height: 3%;
    left: 2%;
    top: 1%;
}

.gg-close-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 40px
}
.gg-close-o::after,
.gg-close-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 3px
}
.gg-close-o::after {
    transform: rotate(-45deg)
}