.search{
    position: absolute;
    width: 50%;
    height: 70px;
    left: 25%;
    top: 10%;

    background: #FFFFFF;
    border: 5px solid #C4C4C4;
    box-sizing: border-box;
}
.searchText{
    /* Search a word */

    position: absolute;
    width: 216px;
    height: 37px;
    left: 10%;
    top: 25%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 240%;
    line-height: 28px;

    color: #000000;
}
.displayText{
    /* Search a word */

    position: absolute;
    width: 50%;
    height: 37px;
    left: 37%;
    top: 25%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 500%;
    line-height: 28px;

    color: #000000;
}
.searchedTimes{
    /* you have searhced it for 30 times! */
    position: absolute;
    width: 50%;
    height: 32px;
    left: 35%;
    top: 30%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 16px;

    color: #000000;
}
.content{
    /* Rectangle 19 */
    position: absolute;
    width: 74%;
    height: 50%;
    left: 13%;
    top: 45%;

    background: #FFFFFF;
    border: 5px solid #848383;
    box-sizing: border-box;
}
.explanation{
    position: absolute;
    width: 80%;
    height: 208px;
    left: 10%;
    top: 5%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 250%;
    line-height: 150%;

    color: #000000;
}
.addCol{
    position: absolute;
    width: 70%;
    height: 6%;
    left: 15%;
    top: 37%;

    background: #C4C4C4;
    border-radius: 20px;
    font-size: 30px;
}
.back{
    position: absolute;
    width: 3%;
    height: 3%;
    left: 2%;
    top: 1%;
}

.share{
    position: absolute;
    right: 5%;
    top: 45%;
}

.gg-close-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 40px
}
.gg-close-o::after,
.gg-close-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 3px
}
.gg-close-o::after {
    transform: rotate(-45deg)
}

.gg-share {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 6px;
    height: 6px;
    background: currentColor;
    border-radius: 100px;
    box-shadow:
        10px -6px 0,
        10px 6px 0
}
.gg-share::after,
.gg-share::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 10px;
    height: 2px;
    background: currentColor;
    left: 2px
}
.gg-share::before {
    top: 0;
    transform: rotate(-35deg)
}
.gg-share::after {
    bottom: 0;
    transform: rotate(35deg)
}